<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="maincontent">
        <h1>Add Devices</h1>
        <%if(locals.errors){%>
         <div class="alert alert-danger">
          <ul>
          <%errors.forEach(function(error){%>
         
             <li><%=error.msg%></li>   
           
            <%}) %>
          </ul>
         </div>

            
          <% }else if(locals.successMsg){%>
            <div class="alert alert-success">
             <%=successMsg%>           
            </div>        
             <% } %>

        <form class="feedback-form" method="POST" action="/device">
          <div class="form-group">
            <label for="feedback-form-name">Name</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-name"
              name="name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group">
            <label for="feedback-form-ip">IP</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-ip"
              name="ip"
              placeholder="Enter IP address"
            />
          </div>
          <div class="form-group">
            <label for="feedback-form-province">Province</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-province"
              name="province"
              placeholder="Enter Province"
            />
          </div>
          <div class="form-group">
            <label for="feedback-form-communitystr">Community String</label>
            <textarea
              type="text"
              placeholder="Enter your message, then hit the submit button"
              class="form-control"
              id="feedback-form-communitystr"
              name="communitystr"
              rows="6"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-secondary float-right">Submit</button>
        </form>
      </div>
    </div>
    <aside class="col-md-8">
      <div class="maincontent feedback">
        <h1>Device Inventory</h1>
        <div class="feedback-items">
          <%deviceList.forEach(function(item){%>

              <div class="feedback-item item-list media-list">
    
            <div class="feedback-item media">
              <div class="feedback-info media-body">          
                <div class="feedback-head">
                  <div class="feedback-title"><%=item.name%></div>
                  <small><%=item.id%></small>
                </div>
              <div class="feedback-message"><%=item.ip%></div>
            </div>
            </div>
          </div>


          <%})%>
        </div>


      </div>
    </aside>
  </div>
</div>
