<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="maincontent">
        <h1>Add Devices</h1>
        <%if(locals.errors){%>
         <div class="alert alert-danger">
          <ul>
          <%errors.forEach(function(error){%>
         
             <li><%=error.msg%></li>   
           
            <%}) %>
          </ul>
         </div>

            
          <% }else if(locals.successMsg){%>
            <div class="alert alert-success">
             <%=successMsg%>           
            </div>        
             <% } %>

        <form class="feedback-form" method="POST" action="/device">
          <div class="form-group">
            <label for="feedback-form-name">Name</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-name"
              name="name"
              placeholder="Enter Device name"
            />
          </div>
          <div class="form-group">
            <label for="feedback-form-ip">IP</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-ip"
              name="ip"
              placeholder="Enter IP address"
            />
          </div>
          <div class="form-group">
            <label for="feedback-form-province">Province</label>
            <select
              class="form-control"
              id="feedback-form-province"
              name="province"
            >
              <option value="BC">British columbia</option>
              <option value="AB">Alberta</option>
              <option value="ON">Ontario</option>
              <option value="MB">Manitoba</option>
              <option value="NB">New Brunshwick</option>
              <option value="NS">Nova Scotia</option>
              <option value="PE">Prince Edward Island</option>
              <option value="QC">Quebec</option>
              <option value="SK">Saskatchewan</option>
             </select>
          </div>


          <div class="form-group">
            <label for="feedback-form-vendor">Vendor</label>
            <select
              class="form-control"
              id="feedback-form-vendor"
              name="vendor"
            >
              <option value="Juniper">Juniper</option>
              <option value="Nokia">Nokia</option>
              <option value="Cisco">Cisco</option>
             </select>
          </div>

          <div class="form-group">
            <label for="feedback-form-devicetype">Device Type</label>
            <select
              class="form-control"
              id="feedback-form-deviceType"
              name="devicetype"
            >
              <option value="RE">RE</option>
              <option value="BR">BR</option>
              <option value="SE">SE</option>
              <option value="CA">CA</option>
              <option value="SA">SA</option>
              <option value="CI">CI</option>
             </select>
             
          </div>


          <div class="form-group">
            <label for="feedback-form-province">Community String</label>
            <select
              class="form-control"
              id="feedback-form-communityString"
              name="communitystr"
            >
              <option value="public">public</option>
              <option value="m1bview">m1bview</option>
              <option value="telusm1b">telusm1b</option>
             </select>
             
          </div>
          <button type="submit" class="btn btn-secondary float-right">Submit</button>
        </form>
      </div>
    </div>
    <aside class="col-md-8">
      <div class="maincontent feedback">
        <h1>Device Inventory</h1>
        <div class="feedback-items">
          <%deviceList.forEach(function(item){%>

              <div class="feedback-item item-list media-list">
    
            <div class="feedback-item media">
              <div class="feedback-info media-body">          
                <div class="feedback-head">
                  <div class="feedback-title"><%=item.name%></div>
                  <small><%=item.id%></small>
                </div>
              <div class="feedback-message"><%=item.ip%></div>
            </div>
            </div>
          </div>


          <%})%>
        </div>


      </div>
    </aside>
  </div>
</div>
